#googleMap {
    height: 400px;
    width: 100%;   
}
/* google maps styles */
p {
font-size: 20px;
margin-left: 5px;
}
/* p styles */
.mainLogo {
  font-size: 75px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: auto;
}
/* logo styles and position*/
.slogan {
  font-size: 37px;
  padding-left: 50px;
  float: right;
  width: 100%;
  height: auto;
}
h1{
  margin-left: 5px;
}
/* h1 styles */
h2{
  margin-left: 5px;
}
/* h2 styles */
/* slogan styles and position*/
#logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
}
/* logo styles and position*/
.header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid antiquewhite;
  align-items: center;
  color: antiquewhite;
  background-color: rgb(8, 47, 17);
  justify-content: space-around;
}
/* header styles and position*/
body{
  background-color: rgb(175, 244, 175);
  font-family: "Poetsen One", sans-serif;
  margin: 0;
}
/* body styles*/
button{
  font-family: "Poetsen One", sans-serif;
  background-color: black;
  color: lightgoldenrodyellow;
  border-radius: 10%;
  height: 50px;
  width: auto;
  padding: 10px; 
  font-size: medium;
}/* button styles*/
#runner{
  display: flex;
  margin-top: 20px;
  position: relative;
  height: auto;
  width: 20%;
}/* image styles*/
#iconimg{
  display: flex;
  margin-top: 100px;
  position: relative;
  height: auto;
  width: 20%;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}/* image styles*/
img{
  width: 100%;
  height: auto;
  /* ensures images are responsive*/
}
footer{
  border-bottom: 4px solid antiquewhite;
  align-items: center;
  color: antiquewhite;
  background-color: rgb(8, 47, 17);
}/* footer styles*/
form{
  padding: 20px;
}/* form styles*/
.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 20px;
}