#googleMap {
    height: 400px;
    width: 100%;   
  }
p {
    font-family: 'Comic Sans MS', 'courier';
}
h1 {
    font-family: 'Comic Sans MS', 'courier';
    font-weight: bold;
}
h2 {
    font-family: 'Comic Sans MS', 'courier';
    font-style: italic;
}
body{
    background-color: rgb(144, 236, 219);
    font-family: "Playfair Display", serif;
}