#googleMap {
    height: 400px;
    width: 100%;   
  }
p {
font-size: 20px;
}
h1 {
    font-size: 45px;
    font-weight: bold;
}
h2 {
    font-size: 30px;

}
body{
    background-color: rgb(175, 244, 175);
    font-family: "Poetsen One", sans-serif;
}
button{
    font-family: "Poetsen One", sans-serif;
    background-color: black;
    color: lightgoldenrodyellow;
}
#magnify{
    animation: idle 5s linear 2s infinite alternate;
}
@keyframes idle {
    0%, 100% {
        left: 100px;
      }
      50% {
        right: 200px;
      }
}